requests>=2.31.0
numpy>=1.24.3
pandas>=2.0.3
gdown>=5.1.0
tqdm>=4.66.0
Pillow>=10.0.0
opencv-python>=4.8.0.74
tensorflow>=2.15.0
keras>=2.15.0
Flask>=3.0.0
flask_cors>=4.0.1
mtcnn>=0.1.1
retina-face>=0.0.17
fire>=0.5.0
gunicorn>=21.2.0
lightphe>=0.0.15
lightdsa>=0.0.3
python-dotenv>=1.0.1
deepface>=0.0.95